@model GamePlace.Models.Compras

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Compras</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChaveAtivacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChaveAtivacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Jogo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Jogo.IdJogo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Utilizador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Utilizador.CodPostal)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
