@model IEnumerable<GamePlace.Models.Compras>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChaveAtivacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jogo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Utilizador)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChaveAtivacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Jogo.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Utilizador.Email)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdCompra">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdCompra">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdCompra">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
