@model GamePlace.Models.Recursos

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Recursos</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeRecurso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeRecurso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Jogo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Jogo.IdJogo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdRecursos">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
