@model GamePlace.Models.Jogos

@{
    ViewData["Title"] = "Details";
}
<body style=" background-color: #e9f3ff; background-image:none">
    <h1 style="text-align:center;color:cornflowerblue">@Html.DisplayFor(model => model.Nome)</h1>
    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Descricao)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Descricao)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Tamanho)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Tamanho)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.AnoLancamento)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.AnoLancamento)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Genero)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Genero)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Preco)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Preco)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Classificacao)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Classificacao)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.FaixaEtaria)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FaixaEtaria)
            </dd>

        </dl>
    </div>

    @foreach (var item in Model.ListaRecursos)
    {


        <img class="mySlides" src="~/fotos/@item.NomeRecurso" style=" width:100%; margin-top: 50px;
        height: 350px;
        width: 75%;
        display: block;
        margin-left: auto;
        margin-right: auto;
"
             alt="Fotografia do jogo">

    }

    <button class="prev" onclick="plusDivs(-1)">&#10094;</button>
    <button class="next" onclick="plusDivs(+1)">&#10095;</button>

    <form asp-action="CreateCompra">
        <div style="border-top:20px solid transparent; border-left:15px solid transparent">
            <input type="hidden" name="jogoId" value="@Model.IdJogo" />
            <div style="border-top: 10px solid transparent; border-bottom: 25px solid transparent">
                <input style="margin-top: 50px; display:block; margin-left: auto; margin-right: auto;" type="submit" value="Comprar" class="btn btn-primary" />
            </div>
        </div>
    </form>

    <div>
        @if (User.IsInRole("Admin"))
        {
            <a asp-action="Edit" asp-route-id="@Model.IdJogo">Edit</a>
            <a asp-action="Delete" asp-route-id="@Model.IdJogo">Delete</a>
        }
        <a asp-action="Index">Back to List</a>

    </div>
</body>
    <script>
        var slideIndex = 1;
        showDivs(slideIndex);

        function plusDivs(n) {
            showDivs(slideIndex += n);
        }

        function showDivs(n) {
            var i;
            var x = document.getElementsByClassName("mySlides");
            if (n > x.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = x.length };
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            x[slideIndex - 1].style.display = "block";
        }
    </script>
